<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
           
             <a href="#/dashboard">Home</a>
        </li>
        <li class="active">Cadastro de Acompanhamentos</li>
        <li class="active">Usuário: {{name}}</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            Cadastro de Acompanhamento
                        </h4>
                        <br/>
                    </div>
                </div>

                        <form name="acompform" class="form-horizontal" role="form">
                         <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="cpf">CPF</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                 <input type="text" maxlength="14" minlength="14"  ng-minlength="14" required onkeypress="formatar('###.###.###-##', this); if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;" focus class="form-control" placeholder="CPF" ng-model="acomp.cpf"/>
                            </span>
                                </div>
                            </div></br>

                            <div class="form-group">
                                <span class="lbl col-md-5"> </span>
                                <div class="col-sm-7">
                   

                                    <button type="submit" class="width-35 pull-right btn btn-md btn-primary" ng-click="acomP(acomp)" data-ng-disabled="acompform.$invalid">
                                        Cadastrar
                                    </button>

                                     <Button class="width-45 pull-left btn btn-md btn-primary" ng-click="btndash();">Voltar
                        </button>


                                    <button type="submit" ng-if="acomp.cpf" class="width-40 center-block btn btn-md btn-danger" ng-click="excAcomp(acomp)" data-ng-disabled="acompform.$invalid">
                                        Excluir
                                    </button>
                                    </div>

                                </br></br></br>
                            
                                </div>
                            </div>   
                    

                       
                            
                                    
                               <!--    <div class="form-group">
                                <span class="lbl col-sm-2"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-md btn-danger" ng-click="excPac(conspac)" data-ng-disabled="signupForm.$invalid">
                                        Excluir
                                    </button>
                                 
                                       <div class="space-16">
                        <Button class="width-45 pull-left btn btn-md btn-primary" ng-click="btndash();">Voltar
                        </button></div><br/><br/><br/>-
                                
                        </div>-->
                                                                    
                                    </form>
                                </div>

                            </div>
                            </fieldset>

                           
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->