<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
            /  
             <a href="#dashboard">Painel de Usuário</a>
        </li>
        <li class="active">Consultar Pacientes</li>
         <li class="active">Usuário: {{name}}</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                        Em breve
                        </h4>
                        <br/>
                        <form name="signupForm" class="form-horizontal" role="form">
                           
                            <div class="form-group">
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                         <h4 class="header orange lighter bigger">
                           Estamos construindo os relatórios!
                        </h4>
            
                  </div>
                           </div>


                           <!--  <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="uid">Código do Inclusor</label>

                                <div class="col-sm-5">
                                
                            <select class"form-group" required ng-model="conspac.uid">
                            <option value="{{uid}}">{{uid}}</option>
                       
                        </select>
                                </span>
                                </div>
                            </div>-->
                          <!-- <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="cpf">CPF</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" required name="cpf" ng-model="conspac.cpf"/>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="nome">Nome</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" name="nome" ng-model="conspac.nome"/>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="Idade">idade</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" name="idade" ng-model="conspac.idade"/>
                            </span>
                                </div>
                            </div>
                         
                               
                               <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="created">Cadastrado em</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" name="created" ng-model="conspac.created" />
                            </span>
                                </div>
                            </div>   
                                <br/>
                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                   
                                    <button type="submit" class="width-35 pull-right btn btn-md btn-primary" ng-click="consPac(conspac)" data-ng-disabled="signupForm.$invalid">
                                        Consultar
                                    </button>-->
                                 
                                       <div class="space-16">
                        <Button class="width-45 pull-left btn btn-md btn-primary" ng-click="btndash();">Voltar
                        </button></div><br/><br/><br/>
                                </div>
                                                                    
                                    </form>
                                </div>

                            </div>
                            </fieldset>

                           
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->